label {
	display: block;
}
#titlemod {
	font-size:16px;
	color:green;
	display:block;
}
h3.compreg {
	color: green;
	padding-top: 20px;
}
.regbox {
	display: inline-table;
	height: 50px;
	/*width: 150px;*/
	min-width:100px;
	margin-right: 15px;
}
input {
    height: 15px;
}
input#email {
    display: inline-table;
    height: 15px;
    /*width: 150px;*/
    width:100px;
    margin-right: 15px;
    clear: left;
}
textarea#uwagi {
	width: 98%;
	height: 60px;
	font-family: Tahoma, sans-serif;
	/*background-color: #E0FBFF;*/
}
input#btn_send {
    width: 40%;
    border: 3px solid #005c11;
    background: #DFFFAA;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 15.5px 31px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    color: #005c11;
    font-size: 19px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    vertical-align: middle;
}
input#btn_send:hover {
   background: #00FF00;
}
input.invalid {
    border-color: rgb(185, 74, 72) !important;
    background-color: rgb(253, 233, 233) !important;
    box-shadow: 0 1px 1px rgba(185, 74, 72, 0.075) inset, 0 0 8px
        rgba(82, 168, 236, 0.6) !important;
}